@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/FiraCode/FiraCode-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/FiraCode/FiraCode-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/FiraCode/FiraCode-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/FiraCode/FiraCode-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Unbounded/Unbounded-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  src: url("../assets/fonts/InstrumentSerif/InstrumentSerif-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Instrument Serif";
  font-style: italic;
  font-weight: 400;
  font-optical-sizing: auto;
  src: url("../assets/fonts/InstrumentSerif/InstrumentSerif-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
  src: url("../assets/fonts/Jura/Jura-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  src: url("../assets/fonts/BalooBhaijaan2/BalooBhaijaan2-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
  src: url("../assets/fonts/BalooBhaijaan2/BalooBhaijaan2-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 800;
  font-optical-sizing: auto;
  src: url("../assets/fonts/BalooBhaijaan2/BalooBhaijaan2-Bold.ttf")
    format("truetype");
}
