@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 87%;

    --foreground: 224 71.4% 4.1%;

    --font-fira: "Fira Code", sans-serif;

    --font-unbounded: "Unbounded", sans-serif;

    --font-instrument: "Instrument Serif", serif;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --border: 287 59.8% 66.9%;
    --input: 220 13% 91%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 287 59.8% 66.9%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --text-effect-fill: hsl(0, 0%, 0%); /* Black for light theme */
    --text-effect-stroke: hsl(0, 0%, 100%); /* White for light theme */
    --text-effect-stroke-width: 1px;

    --color-white: #ffffff;
    --color-light-gray: rgb(217, 217, 217);
    --color-mid-gray: rgb(219, 219, 219);
    --color-black: #000000;
    --color-dark-gray: rgba(0, 0, 0, 0.22449);
    --color-transparent: rgba(0, 0, 0, 0);
    --color-faint-white: rgba(255, 255, 255, 0);

    --slide-height: 35rem;
    --slide-spacing: 0.75rem;
    --slide-size: 90%;
    --text-body: rgb(54, 49, 61);
    --detail-medium-contrast: rgb(240, 240, 242);

    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 219 13.5% 71%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --border: 287 34% 8%;
    --input: 215 27.9% 16.9%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --primary: 218 12.1% 17.8%;
    --primary-foreground: 287 59.8% 66.9%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --text-body: rgb(222, 222, 222);
    --detail-medium-contrast: rgb(21, 21, 21);

    --text-effect-fill: hsl(0, 0%, 100%); /* White for dark theme */
    --text-effect-stroke: hsl(0, 0%, 0%); /* Black for dark theme */
    --text-effect-stroke-width: 1px;

    --color-white: #0f0f0f;
    --color-light-gray: rgb(50, 50, 50);
    --color-mid-gray: rgb(70, 70, 70);
    --color-black: #000000;
    --color-dark-gray: rgba(50, 50, 50, 0.22449);
    --color-transparent: rgba(0, 0, 0, 0);
    --color-faint-white: rgba(255, 255, 255, 0);

    --ring: 216 12.2% 83.9%;

    --radius: 0.5rem;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-fira bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    background-blend-mode: overlay, color-burn, screen, overlay, difference,
      difference, normal;
  }
}

@layer utilities {
  .dynamic-bg {
    @apply bg-center bg-no-repeat bg-cover;
    background-image: var(--background-image, bg-background);
  }

  .clip-wave-left {
    clip-path: inset(0 0 0 10%) round 20% 0 20% 50%;
  }

  .text-effect {
    -webkit-text-fill-color: var(--text-effect-fill);
    -webkit-text-stroke-width: var(--text-effect-stroke-width);
    -webkit-text-stroke-color: var(--text-effect-stroke);

    -moz-text-fill-color: var(--text-effect-fill);
    -moz-text-stroke-width: var(--text-effect-stroke-width);
    -moz-text-stroke-color: var(--text-effect-stroke);
  }

  .strk-white:has(~ input:focus, ~ select:focus) {
    stroke: white;
  }
}

@layer components {
  .f-1fpxu4o {
    --ray-bg: var(--color-light-gray);

    height: 150vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none;
    flex: none;
    z-index: 0;
    opacity: 1;
    will-change: transform;
    transform: none;

    background: radial-gradient(
      100% 100% at 0% 0%,
      var(--color-white) 0%,
      var(--ray-bg, var(--color-mid-gray)) 100%
    );
    mask: radial-gradient(
        125% 100% at 0% 0%,
        var(--color-black) 0%,
        var(--color-dark-gray) 88.288%,
        var(--color-transparent) 100%
      )
      add;
    -webkit-mask: radial-gradient(
        125% 100% at 0% 0%,
        var(--color-black) 0%,
        var(--color-dark-gray) 88.288%,
        var(--color-transparent) 100%
      )
      add;
  }

  .f-1yp8dcl,
  .f-1tkmzk9,
  .f-if0sjr,
  .f-1xgonwz,
  .f-1lv1w0o {
    max-width: 960px;
    overflow: hidden;
    position: absolute;
    height: 1269px;
    flex: none;
    background: linear-gradient(
      180deg,
      var(--color-white) 0%,
      var(--color-white) 83.934%,
      var(--color-faint-white) 100%
    );
    top: -209px;
    transform: skewX(45deg);
  }

  .f-1yp8dcl {
    left: calc(33.611111111111136% - min(960px, 591.04338305692px) / 2);
    mask: linear-gradient(
        90deg,
        var(--color-transparent) 0%,
        var(--color-black) 20.036%,
        var(--color-transparent) 36.175%,
        var(--color-black) 55.405%,
        rgba(0, 0, 0, 0.13) 67.117%,
        var(--color-black) 78.231%,
        var(--color-transparent) 97.297%
      )
      add;
    -webkit-mask: linear-gradient(
        90deg,
        var(--color-transparent) 0%,
        var(--color-black) 20.036%,
        var(--color-transparent) 36.175%,
        var(--color-black) 55.405%,
        rgba(0, 0, 0, 0.13) 67.117%,
        var(--color-black) 78.231%,
        var(--color-transparent) 97.297%
      )
      add;
    width: 591px;
  }

  .f-1tkmzk9 {
    left: calc(-1.5277777777777555% - min(960px, 582.0033895797204px) / 2);
    mask: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 11.399%,
        var(--color-black) 25.558%,
        rgba(0, 0, 0, 0.55) 41.697%,
        rgba(0, 0, 0, 0.13) 67.117%,
        var(--color-black) 78.231%,
        var(--color-transparent) 97.297%
      )
      add;
    -webkit-mask: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 11.399%,
        var(--color-black) 25.558%,
        rgba(0, 0, 0, 0.55) 41.697%,
        rgba(0, 0, 0, 0.13) 67.117%,
        var(--color-black) 78.231%,
        var(--color-transparent) 97.297%
      )
      add;
    width: 582px;
  }

  /* Continue this pattern for the remaining classes */
  .f-if0sjr {
    left: calc(33.68055555555558% - min(960px, 441.23777686332323px) / 2);
    mask: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 9.815%,
        var(--color-black) 20.036%,
        rgba(0, 0, 0, 0.55) 28.588%,
        rgba(0, 0, 0, 0.42462) 40.09%,
        var(--color-black) 48.649%,
        rgba(0, 0, 0, 0.26749) 54.505%,
        rgba(0, 0, 0, 0.13) 78.579%,
        var(--color-black) 88.554%,
        var(--color-transparent) 97.297%
      )
      add;
    -webkit-mask: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 9.815%,
        var(--color-black) 20.036%,
        rgba(0, 0, 0, 0.55) 28.588%,
        rgba(0, 0, 0, 0.42462) 40.09%,
        var(--color-black) 48.649%,
        rgba(0, 0, 0, 0.26749) 54.505%,
        rgba(0, 0, 0, 0.13) 78.579%,
        var(--color-black) 88.554%,
        var(--color-transparent) 97.297%
      )
      add;
    width: 441px;
  }

  .f-1xgonwz {
    left: calc(50.138888888888914% - min(960px, 683.5956972282517px) / 2);
    mask: linear-gradient(
        90deg,
        var(--color-transparent) 0%,
        var(--color-black) 17.659%,
        rgba(0, 0, 0, 0.55) 26.642%,
        var(--color-black) 35.23%,
        var(--color-transparent) 47.698%,
        rgba(0, 0, 0, 0.13) 69.178%,
        var(--color-black) 79.146%,
        var(--color-transparent) 97.297%
      )
      add;
    opacity: 0.6;
    width: 684px;
  }

  .f-1lv1w0o {
    left: calc(49.09722222222224% - min(960px, 426.1711210679905px) / 2);
    mask: linear-gradient(
        90deg,
        var(--color-transparent) 0%,
        var(--color-black) 20.036%,
        rgba(0, 0, 0, 0.55) 27.578%,
        var(--color-black) 42.342%,
        var(--color-transparent) 48.605%,
        rgba(0, 0, 0, 0.13) 67.117%,
        var(--color-black) 74.952%,
        var(--color-black) 82.432%,
        rgba(0, 0, 0, 0.4725) 88.672%,
        var(--color-transparent) 97.297%
      )
      add;
    opacity: 0.75;
    width: 426px;
  }
}
